@model IEnumerable<ProjectAK.Models.category>

@{
    ViewBag.Title = "Catdisplay";
}

@*<h2>Catdisplay</h2>*@
<div class="catD" style="font-family: poppins;  font-size:18px;">
    <div class="catD-h" style="text-align: center;">
        <h2>Category Details</h2>
        <hr />
    </div>
    <div class="table-bordered table-responsive table-hover">
        @{
            WebGrid wbgrid = new WebGrid(source: Model, rowsPerPage: 5);
        }

        @wbgrid.GetHtml(
            tableStyle: "table",
            htmlAttributes: new { @id = "wbgrid" },
            columns: wbgrid.Columns(
                    wbgrid.Column("cat_id", "id"),
                    wbgrid.Column("cat_name", "Name"),
                    wbgrid.Column("cat_img", "Image")
                )
            )
        </div>
        <div class="row" style="text-align:center;">
            <hr />
            <div class="col-md-4">
                <a href="@Url.Action( "AdminBdisplay", "Admin")">
                    <div class=" btn btn-info">Booking DB</div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action( "Userdisplay", "Admin")">
                    <div class=" btn btn-info">User DB</div>
                </a>
            </div>

            <div class="col-md-4">
                <a href="@Url.Action( "Peopledisplay", "Admin")">
                    <div class=" btn btn-info">People DB</div>
                </a>
            </div>
        </div>
    </div>

