@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<body>
    <div class="aa-container">
        <div class="aa-box">
            <h1><i class="fa fa-user-circle-o" aria-hidden="true"></i></h1>
            <h3>About us</h3>
            <p>
                Ananya Krishnaa Constructions, one of the best builders in Chennai holds
                years of expertise in exceeding our customer’s expectations by
                transforming ideas and visions into award-winning projects.Such commitment and
                our devotion to our customers enabled Ananya Krishna Constructions to
                get ISO 9001:2008 certification.
            </p>
        </div>

        <div class="aa-box">
            <h1><i class="fa fa-binoculars"></i></h1>
            <h3>Our Vission</h3>
            <p>
                To continually deliver excellent value, superior quality projects &
                innovative construction solutions to meet our clients' requirements and
                become the top builders in Chennai. To be known for our renowned
                excellence, quality, performance, and reliability in all types of
                constructions.
            </p>
        </div>

        <div class="aa-box">
            <h1><i class="fa fa-users"></i></h1>
            <h3>Our Mission</h3>
            <p>
                To become our customers’ most preferred choice for premium flats in
                Chennai by attaining excellence through the highest quality of service,
                superior craftsmanship, and our timely completed value-added projects.
                To continually improve the competence of our team, innovate, develop
                and adopt state-of-the-art technology in methods and materials to
                enhance productivity and cost-effectiveness.
            </p>
        </div>
    </div>
</body>*@


























@*<div class="a-body">
    <div class="a-wrapper">
        <div class="A-box">
            <div class="A-front-face">
                <div class="A-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
                <span>About Us</span>
            </div>
            <div class="A-back-face">
                <span>About Us</span>
                <p>
                    Ananya Krishnaa Constructions, one of the best builders in Chennai holds
                    years of expertise in exceeding our customer’s expectations by
                    transforming ideas and visions into award-winning projects.Such commitment and
                    our devotion to our customers enabled Ananya Krishna Constructions to
                    get ISO 9001:2008 certification.
                </p>
            </div>
        </div>

        <div class="A-box">
            <div class="A-front-face">
                <div class="A-icon"><i class="fa fa-binoculars"></i></div>
                <span>Our Vission</span>
            </div>
            <div class="A-back-face">
                <span>Our Vission</span>
                <p>
                    To continually deliver excellent value, superior quality projects &
                    innovative construction solutions to meet our clients' requirements and
                    become the top builders in Chennai. To be known for our renowned
                    excellence, quality, performance, and reliability in all types of
                    constructions.
                </p>
            </div>
        </div>

        <div class="A-box">
            <div class="A-front-face">
                <div class="A-icon"><i class="fa fa-users"></i></div>
                <span>Our Mission</span>
            </div>
            <div class="A-back-face">
                <span>Our Mission</span>
                <p>
                    To become our customers’ most preferred choice for premium flats in
                    Chennai by attaining excellence through the highest quality of service,
                    superior craftsmanship, and our timely completed value-added projects.
                    To continually improve the competence of our team, innovate, develop
                    and adopt state-of-the-art technology in methods and materials to
                    enhance productivity and cost-effectiveness.
                </p>
            </div>
        </div>
    </div>

</div>*@    










<div class="wrapper">
    <div class="row">
        <h2></h2>

        <div class="col-md-4">
            <div class="single-service">
                <div class="social">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                </div>
                <span></span>
                <h3>About Us</h3>
                <p>
                    Ananya Krishnaa Constructions, one of the best builders in Chennai holds
                    years of expertise in exceeding our customer’s expectations by
                    transforming ideas and visions into award-winning projects. We pride
                    ourselves on being top builders in Anna Nagar, Chennai by delivering our
                    projects on time without any compromise on quality, functionality, and
                    aesthetics that precisely suits our high-end customers. Such commitment and
                    our devotion to our customers enabled Ananya Krishna Constructions to
                    get ISO 9001:2008 certification.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="single-service">
                <div class="social"><i class="fa fa-binoculars"></i></div>
                <span></span>
                <h3>Our Vission</h3>
                <p>
                    To continually deliver excellent value, superior quality projects &
                    innovative construction solutions to meet our clients' requirements and
                    become the top builders in Chennai. To be known for our renowned
                    excellence, quality, performance, and reliability in all types of
                    constructions.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="single-service">
                <div class="social"><i class="fa fa-users"></i></div>
                <span></span>
                <h3>Our Mission</h3>
                <p>
                    To become our customers’ most preferred choice for premium flats in
                    Chennai by attaining excellence through the highest quality of service,
                    superior craftsmanship, and our timely completed value-added projects.
                    To continually improve the competence of our team, innovate, develop
                    and adopt state-of-the-art technology in methods and materials to
                    enhance productivity and cost-effectiveness.
                </p>
            </div>
        </div>
    </div>
</div>


















