
@{
    ViewBag.Title = "Awards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="xop-section">
    <center>
        <h1 style="max-width: 800px; text-align: center; color:white;"></h1><br><br><br>
        <ul class="xop-grid">
            <li>
                <div class="xop-box xop-img-1">
                    <a href="~/img/Awards_img/Environmental Policy.pdf">
                        <div class="xop-info">
                            <img src="~/img/Awards_img/23.jpg" style="background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),url(21.jpg );background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10));background-size: cover;width:100%;height :300px;" />

                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="xop-box xop-img-2">
                    <a href="~/img/Awards_img/certificate of compliance.pdf">
                        <div class="xop-info">
                            <img src="~/img/Awards_img/21.jpg" style="background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),url(23.jpg );background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10));background-size: cover;width:100%;height :300px;" />

                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="xop-box xop-img-3">
                    <a href="~/img/Awards_img/Quality Policy.pdf">
                        <div class="xop-info">
                            <img src="~/img/Awards_img/24.jpg" style="background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),url(24.jpg );background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10));background-size: cover;width:100%;height :300px;" />

                        </div>
                    </a>
                </div>
            </li>
    </ul>
            </center>
    
</div>

