
@{
    ViewBag.Title = "Completed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Completed</h2>*@

<div class="container mt-40">
    @*<h3 class="text-center Comp">Completed</h3>*@
    <div class="row mt-30">
        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img style="height: 360px;" src="~/img/slide_img/alaka Palazzo.jpg" alt="">
                <div class="box-content">
                    <h3 class="title">Alaka Palazzo</h3>
                    @*<ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>*@
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img style="height: 360px;" src="~/img/Completed_img/Melrose Park-Neelankarai elevation.jpg" alt="">
                <div class="box-content">
                    <h3 class="title">Melrose Park</h3>
                    @*<ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>*@
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img style="height: 360px;" src="~/img/Completed_img/villa-Elevation.jpg" alt="">
                <div class="box-content">
                    <h3 class="title">
                        Villa Elysian </h3>
                    @*<ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>*@
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img style="height: 360px;" src="~/img/Completed_img/Orange Blosoom - ELEVATION.jpeg" alt="">
                <div class="box-content">
                    <h3 class="title">Orange Blosoom</h3>
                    @*<ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>*@
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img style="height: 360px;" src="~/img/Completed_img/IAS ,IPS Colony , Manapakkam.jpg" alt="">
                <div class="box-content">
                    <h3 class="title">IAS ,IPS Colony </h3>
                    @*<ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>*@
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img style="height: 360px;" src="~/img/Completed_img/Alwarthirunagar-view-8.jpg" alt="">
                <div class="box-content">
                    <h3 class="title">Pallavan </h3>
                    @*<ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>*@
                </div>
            </div>
        </div>

        @*<div class="col-md-3 col-sm-6">
            <div class="box15">
                <img style="height: 360px;" src="" alt="">
                <div class="box-content">
                    <h3 class="title">Lloys Road</h3>
                    <ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img style="height: 360px;" src="" alt="">
                <div class="box-content">
                    <h3 class="title">Palmgrove</h3>
                    <ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>*@

    </div>
</div>

