@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*SLIDE SHOW*@
<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
        <li data-target="#themeSlider" data-slide-to="3"></li>
        <li data-target="#themeSlider" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img style="width:100%;height:700px" src="~/img/slide_img/alaka Palazzo.jpg" alt="First slide">
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="width:100%;height:700px" src="~/img/slide_img/Emerald-Elevation.jpg" alt="Second slide">
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="width:100%;height:700px" src="~/img/slide_img/Glow elevation at k.k nagar. (1).jpg" alt="Third slide">
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="width:100%;height:700px" src="~/img/slide_img/Patio Elevation.jpg" alt="Fourth slide">
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="width:100%;height:700px" src="~/img/slide_img/Tirupati Elevation.jpg" alt="Fifth slide">
        </div>
    </div>

    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>
</div>

@*ABOUT US*@
<div class="aMargin">
    <div class="about-section">
        <div class="aInner-container">
            <h1>WHY CHOOSE ANANYAKRISHNAA</h1>
            <p class="aText">
                We always follow the CMDA norms in all our projects
                Timely completion and Handover is done precisely at the promised dates
                Soil Test is performed and structural analysis is done
                Property title of our premium flats in Chennai and transactions with transparency and clarity to ensure credibility
                Construction ensures to have earthquake resistance to the buildings in our projects
                We only avail internationally renowned brands for all our fixtures
                System oriented approach is followed during the construction of our premium flats in Chennai
            </p>

        </div>
    </div>
</div>

@*Testimonials*@

<div class="T-container">
    <div class="row">
       <div class="T-row">
        <h1>TESTIMONIALS</h1>
           <br />
        <div class="col-md-4">
            <div class="T-sBox">
                <span class="T-icon">
                    <i class="fa fa-quote-left"></i>
                </span>
                <h3>Testimonial Name</h3>
                <p>
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="T-sBox">
                <span class="T-icon">
                    <i class="fa fa-quote-left"></i>
                </span>
                <h3>Testimonial Name</h3>
                <p>
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="T-sBox">
                <span class="T-icon">
                    <i class="fa fa-quote-left"></i>
                </span>
                <h3>Testimonial Name</h3>
                <p>
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </div>
    </div>
 </div>
</div>














@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@