
@{
    ViewBag.Title = "Newly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Newly</h2>*@

<div class="container mt-40">
    @*<h3 class="text-center Comp">Completed</h3>*@
    <div class="row mt-30">
        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img style="height: 360px;" src="~/img/Newly_img/Lotus - Ananya Krishnaa - Elevation 4.3.19.jpg" alt="">
                <div class="box-content">
                    <h3 class="title">Lotus</h3>
                    @*<ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>*@
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img style="height: 360px;" src="~/img/slide_img/Emerald-Elevation.jpg" alt="">
                <div class="box-content">
                    <h3 class="title">Emerald</h3>
                    @*<ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>*@
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img style="height: 360px;" src="~/img/Newly_img/Hardeep Elevation.jpg" alt="">
                <div class="box-content">
                    <h3 class="title">
                        Hardeep
                    </h3>
                    @*<ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>*@
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img style="height: 360px;" src="~/img/Newly_img/Saraoj Splendour Mahalingapuram Elevation.JPG" alt="">
                <div class="box-content">
                    <h3 class="title">Saraoj Splendour</h3>
                    @*<ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>*@
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img style="height: 360px;" src="~/img/Newly_img/emerald_crown.jpg" alt="">
                <div class="box-content">
                    <h3 class="title">Emerald Crown</h3>
                    @*<ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>*@
                </div>
            </div>
        </div>

        

        
        

    </div>
</div>


