
@{
    ViewBag.Title = "Upcoming";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Upcoming</h2>*@

<div class="container mt-40">
    @*<h3 class="text-center Comp">Completed</h3>*@
    <div class="row mt-30">
        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img style="height: 360px;" src="~/img/Upcoming/Anjana ( Elevation )_ashok_nagar.jpg" alt="">
                <div class="box-content">
                    <h3 class="title">Anjana</h3>
                    @*<ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>*@
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img style="height: 360px;"src="~/img/Upcoming/78 THE ART.JPG"  alt="">
                <div class="box-content">
                    <h3 class="title">THE ART</h3>
                    @*<ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>*@
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img style="height: 360px;" src="~/img/Upcoming/vappery- Ritherdon Road Elevation.jpg" alt="">
                <div class="box-content">
                    <h3 class="title">
                        Ritherdon
                    </h3>
                    @*<ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>*@
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img style="height: 360px;" src="~/img/Upcoming/SILVER WOOD Elevation.jpg" alt="">
                <div class="box-content">
                    <h3 class="title">SILVER WOOD</h3>
                    @*<ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>*@
                </div>
            </div>
        </div>

 
    </div>
</div>

