.B-hhh {
    font-family: poppins;
    padding: 60px 0;
}
.b-img {
    text-align: center;
    padding: 100px 0;
}

img.avatr {
    width: 100%;
   
}

.formB-hhh h4 {
    text-align: center;
    font-size: 30px;
}

.L-form {
    font-size: 18px;
    padding-left: 60px;
}

.S-form {
    padding-left: 60px;
}
